<div class="main-row ">

<!-- header start here -->
<app-navbar></app-navbar>
<!-- header end here -->

<div id="content">
          <div class="row margin-left">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <app-sidebar></app-sidebar>
                    </div>
<div class="col-lg-6 col-md-12 col-sm-12">
<h2>main content works</h2>
</div>
      
<div class="left-sidebar">
                    <h2>left side bar</h2>
</div>
                  
          </div>


</div>



<!-- main row end  here -->
</div>