<div class="main-row ">

<!-- header start here -->
<app-navbar></app-navbar>
<!-- header end here -->

<div id="content">
          <div class="row margin-left">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <app-sidebar></app-sidebar>
                    </div>
<div class="col-lg-6 col-md-4 col-sm-4">
<div class="main-content">
          <div class="content-heading">
                    <section id="about" class="section">
                   
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                        <h2>About me</h2>
                                        <p>Hello! I’m Gourav Sharma. 
                              <br>Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, and C. Stng background in project management and customer relations.</p>
                              </div>
            
                    </section>
          </div>
</div>
</div>
      
<div class="col-lg-2 col-md-4 col-sm-4 float-left">
                  <app-left-sidebar></app-left-sidebar>
</div>
                  
          </div>


</div>



<!-- main row end  here -->
</div>