<div class="card main-card">
  <div class="card-body main-card-body">
    <div class="card-image text-center">
      <img src="assets/gourav_sharma.jpg" class="img-responsive img-circle userImage">
    </div>
    <div class="userHeading text-center ">
      <h2>Gourav Sharma</h2>
      <p>Front End Developer</p>
      <ul class="social-media">
        <li>
          <i class="fa fa-twitter"></i>
        </li>
        <li>
            <i class="fa fa-instagram"></i>
          </li>
          <li>
              <i class="fa fa-github"></i>
            </li>
            <li>
                <i class="fa fa-skype"></i>
              </li>
              <li>
                  <i class="fa fa-facebook"></i>
                </li>
      </ul>
    </div>


  </div>
  <div class="card-footer main-footer text-center">
   <span class="btn downloadbutton">Download CV</span>
  </div>
</div>
